In [6]:
import pandas as pd
import csv
data = pd.read_csv('example_company_data.csv')

In [7]:
data.head()

,lot_id,company_name,type,make,model,quantity,address,progress
0,1,Athena Hackathon,laptop,Apple,MacBook Pro (2018),2,"10 South Pl, London EC2M 7EB",Requested
1,2,Pwc,mobile phone,Huaweii,p30 pro,7,"1 Embankment Pl, London WC2N 6RH",Allocated
2,3,Beamery,tablet,Apple,iPad mini 2019,3,"97-101 Hackney Rd, London E2 8ET",Available
3,4,Visa,laptop,Acer,Swift 3 AMD,4,"107 Fleet St, London EC4A 2AB",Collected
4,5,Exclaimer,mobile phone,Lenovo,ThinkPad E14,12,"250 Fowler Ave, Farnborough GU14 7JP",Available

In [8]:
from geopy.geocoders import Nominatim
def latLonFinder(address):
    try:
        location = geolocator.geocode(str(address))
        return pd.Series([location.latitude, location.longitude])
    except:
        return pd.Series([0,0])

In [5]:
geolocator = Nominatim(user_agent="myGeocoder")
data[["lat","lon"]] = data['address'].apply(latLonFinder)
print(data.head())

   lot_id      company_name          type     make               model  \
0       1  Athena Hackathon        laptop    Apple  MacBook Pro (2018)
1       2               Pwc  mobile phone  Huaweii             p30 pro
2       3           Beamery        tablet    Apple      iPad mini 2019
3       4              Visa        laptop     Acer         Swift 3 AMD
4       5         Exclaimer  mobile phone   Lenovo        ThinkPad E14

   quantity                               address   progress        lat  \
0         2          10 South Pl, London EC2M 7EB  Requested  51.518815
1         7      1 Embankment Pl, London WC2N 6RH  Allocated  51.507818
2         3      97-101 Hackney Rd, London E2 8ET  Available  51.527758
3         4         107 Fleet St, London EC4A 2AB  Collected  51.514299
4        12  250 Fowler Ave, Farnborough GU14 7JP  Available  51.285018

        lon
0 -0.086307
1 -0.123686
2 -0.076484
3 -0.104835
4 -0.759914